/*style sheet for hw-wireframe*/
body {
	background-color: #777;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	color:grey;
}

.headerbox {
	background-color: #ebebeb;
	text-align: center;
	padding: 50px;
	margin-right:200px;
	margin-left:200px;
	margin-top: 1px
	color:grey;

}

.section {
	background-color: #ebebeb;
	text-align:center;
	padding: 40px;
	height:200px;
	margin-left:200px;
	margin-right:600px;

}

.sbox {
	float: left;
	background-color: #ebebeb;
	text-align:center;
	width:420px;
	height: 200px;
	padding:50px;
	margin-left:200px;
	margin-top:2px;
	color:grey;
}

.boxinside {
	background: #777;
	text-align:center;
	color: white;
	padding-top: 25px;
    padding-bottom: 16px;


}
.divbox{
	color: gray;
	height: 32px;
	margin: 0 15px; 
	background-color: white;
}

.abox {
	float:right;
	background-color: #ebebeb;
	text-align:center;
	width:325px;
	height: 200px;
	padding:50px;
	margin-right: 200px;
	margin-top:2px;
	color:grey;
}

.container {
	background-color: #777;
	height: 300px;
	margin-left:240px
	margin-right:640px; 
	padding-bottom: 35px;
	color: grey;
}

.footerbox {
	clear: both;
	background-color: #ebebeb;
	text-align: center;
	padding: 40px;
	margin-right:200px;
	margin-left:200px;
	color:grey;

}


