/*style sheet for hw-wireframe*/
body {
	background-color: #777;
	font-family: Arial;
	font-size: 18px;
	font-color: #777;

}

.box {
	float: left;
	width: 960px;
	margin-top: 5px;
	margin-left: 100px;
}

.section {
	background-color: #ebebeb;
	text-align:center;
	padding: 40px;
	font-size: 18px;
}

.sbox {
	float: left;
	background-color: #ebebeb;
	text-align:center;
	width:50%;
	height: 300px;
	padding:5px;
}

.container {
	float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix::after {
    clear: both;
    display: table;

